[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
xdalibs = "*"
colorama = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]
nuitka = "*"
pyinstaller = "*"

[requires]
python_version = "3.9"
